In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
airbnb = pd.read_csv("Airbnb_NYC_2019.csv")

In [35]:
old_airbnb = pd.read_csv("Airbnb_NYC_2019.csv")

In [3]:
new_airbnb = pd.read_csv("~/Downloads/sentimentdata.csv")

In [5]:
airbnb.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365', 'gender', 'nearest_subway_station', 'Age1', 'Age2',
       'Age3', 'Age4', 'Age5', 'Age6', 'Age7', 'Age8', 'Age9', 'Age10',
       'Decade1', 'Decade2', 'Decade3', 'Decade4', 'Decade5', 'Decade6',
       'Decade7', 'Decade8', 'Decade9', 'Decade10'],
      dtype='object')

In [6]:
new_airbnb

,Unnamed: 0,id,name,positive,neutral,negative,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,0,2539,Clean & quiet apt home by the park,2.0,6.0,0.0,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,1,2595,Skylit Midtown Castle,0.0,3.0,0.0,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,2,3647,THE VILLAGE OF HARLEM....NEW YORK !,0.0,8.0,0.0,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3,3831,Cozy Entire Floor of Brownstone,1.0,4.0,0.0,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,4,5022,Entire Apt: Spacious Studio/Loft by central park,1.0,7.0,0.0,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,48890,36484665,Charming one bedroom - newly renovated rowhouse,1.0,6.0,0.0,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaN,NaN,2,9
48891,48891,36485057,Affordable room in Bushwick/East Williamsburg,1.0,4.0,0.0,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaN,NaN,2,36
48892,48892,36485431,Sunny Studio at Historical Neighborhood,0.0,5.0,0.0,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaN,NaN,1,27
48893,48893,36485609,43rd St. Time Square-cozy single bed,0.0,6.0,0.0,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaN,NaN,6,2
48894,48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,1.0,8.0,1.0,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaN,NaN,1,23

In [5]:
import nltk.sentiment.util as toolkit
import nltk
from nltk.corpus import opinion_lexicon
from nltk.tokenize import treebank

[nltk_data] Downloading package opinion_lexicon to
[nltk_data]     /Users/trevorcarpenter/nltk_data...
[nltk_data]   Package opinion_lexicon is already up-to-date!
[nltk_data] Downloading package treebank to
[nltk_data]     /Users/trevorcarpenter/nltk_data...
[nltk_data]   Package treebank is already up-to-date!

True

In [17]:
### first convert any emojis to their word counterpart
import demoji
demoji.download_codes()

for i, name in enumerate(airbnb['name']):
    if type(name) == str:
        emoji_map = demoji.findall(name)
        if emoji_map != {}:
            print(emoji_map)
            for key in emoji_map:
                airbnb['name'][i] = name.replace(key, str(emoji_map[key]+" "))
                print(airbnb['name'][i])

{'⭐': 'star'}

/Users/trevorcarpenter/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

Eveland the Place to Stay & Enjoy a 5-star ️ 2bdrm
{'⚡': 'high voltage'}
high voltage Quiet Gem w/roof deck on NY's Hottest Streethigh voltage
{'❤️': 'red heart'}
UNION SQUAREred heart PENTHOUSE 2FL+TERRACEred heart EAST VIllAGE
{'♥️': 'heart suit'}
Garden Oasis in the heart suit  of NYC | Steps to Times Sq!
{'❤️': 'red heart'}
red heart  of Williamsburg, Private Entrance
{'♥': 'heart suit'}
FULLY Furnished Studio heart suit  Manhattan
{'❤️': 'red heart'}
red heart Feel@HOME Brooklyn Clinton Hill red heart
{'❤': 'red heart'}
Lovely BR In The red heart  Of Flushing! Free Metro Card
{'™': 'trade mark'}
Gorgeous PermaGO HOMEStrade mark  - FiDi - Room 2/2
{'✨': 'sparkles'}
LARGE light filled loft/apt! PRIME Williamsburg.sparkles
{'❤️': 'red heart'}
Sunny 1 Bdrm red heart  Private Bath red heart  No Cleaning Fee
{'❤': 'red heart'}
★★★★★- Lux Astoria |red heart of NYC| Near subway/Manhattan
{'❤️': 'red heart'}
red heart  2 Beds Option + Private Bath, Sunshine Bushwick
{'❤': 'red heart'}
1 BEDROOM ENTIRE HOME/APTred heart  ASTORIA
{'❤️': 'red heart'}
Charming Entire red heart  apartment
{'☀️': 'sun'}
sun Sunny Central Park Northsun
{'❤️': 'red heart'}
Spacious room in flushing ny red heart
{'❤️': 'red heart'}
Cozy but Cool:Huge 1bed in red heart of NY
{'❤️': 'red heart'}
Private oasis-charming gingerbread home!red heart red heart red heart red heart red heart
{'♥️': 'heart suit'}
★ Convenience & Comfort Awaits!  heart suit  Your Stay! ★
{'❤️': 'red heart'}
red heart  of Wburg, Private Living+Entrance
{'♥': 'heart suit'}
Well-kept Studio/heart suit  of Chelsea
{'♥': 'heart suit'}
Lheart suit vely 1BR! Times Square BROADWAY Theatre District
{'❤️': 'red heart'}
Huge, Cozy 1BR in the red heart ️ of Harlem
{'❤': 'red heart'}
Cozy Getaway in The red heart  of SoHo
{'❤️': 'red heart'}
red heart Lovely Historic Brownstone Charmred heart  LEGAL LISTING
{'❤️': 'red heart'}
Large, Bright & Airy 2BR Loft in red heart of Williamsburg
{'❤️': 'red heart'}
Cozy 1Br Aptred heart of Upper East Side near Central Park
{'⭐': 'star'}
star ️Harlem getaway w/ great amenities
{'❤️': 'red heart'}
Williamsburgred heart Central Location Queen Bed A/C
{'❤️': 'red heart'}
Brownstone@Central Parkred heart Manhattan historic area
{'✌️': 'victory hand'}
Brooklyn corner loft! Great views+elevatorvictory hand
{'❤️': 'red heart'}
Hell's Kitchen, the red heart  of the city!
{'❤️': 'red heart'}
red heart  Beautiful Artistic 2 Level Brownstone red heart LEGALred heart
{'❤️': 'red heart'}
Charming & Spacious, 2 bedrooms inred heart of Greenpoint
{'♥': 'heart suit'}
ღ Spacious and chill studio 웃heart suit 유
{'❤️': 'red heart'}
red heart  Charming and Quiet NYC Guestroom red heart
{'❤️': 'red heart'}
red heart red heart Relaxing Guestroom by a Lovely Park red heart red heart
{'❤️': 'red heart'}
red heart  of Wburg, 2.5 Rms, Sep Entrances
{'❤': 'red heart'}
red heart ︎ly room in duplex & garden
{'❤️': 'red heart'}
red heart FAB APT WITH PRIVATE GARDEN NEAR CENTRAL PARK!
{'❤️': 'red heart'}
red heart PRIVATE ROOMred heart  Female guest only
{'❤️': 'red heart'}
Artist Apartment in Heart of West Village red heart
{'⚜': 'fleur-de-lis'}
fleur-de-lis  Two-Floor Vibrant 2BR Sanctuary with Patio! fleur-de-lis
{'❤️': 'red heart'}
Bedroom in the East Village red heart
{'❤': 'red heart'}
Heart of Williamsburg red heart
{'❤': 'red heart'}
red heart  of Manhattan | Fantastic 1 Bedroom
{'❤': 'red heart'}
red heart  of Midtown  | Rooftop Terraces +
{'❤️': 'red heart'}
Private Room in the red heart  of Bushwick.
{'⚜': 'fleur-de-lis'}
fleur-de-lis  Sun-Filled 1BR in Upper East Side fleur-de-lis
{'❤️': 'red heart'}
red heart Gorgeous Townhouse Apt - 2 blocks from subway
{'❤️': 'red heart'}
Nice room near Times Square BEST LOCATION red heart
{'♥': 'heart suit'}
Middle Size Room Super Convenient Area: heart suit of Bklyn
{'❤': 'red heart'}
red heart  of Greenwich Village ~ Walk/Transit Score 100
{'✨': 'sparkles'}
Brooklyn @ Best sparkles  cozy 1br garden
{'❤': 'red heart'}
Sunny 1Bedroom in the red heart  of the city
{'❤️': 'red heart'}
Getawayred heart Romantic Retreat in a PRESIDENTIAL SUITE
{'❤️': 'red heart'}
EPIC VIEWS red heart  Wyndham Midtown 45 at NYC Studio red heart
{'❤️': 'red heart'}
*PRIME* The red heart  of Greenwich Village/SOHO SLEEPS 4
{'❤️': 'red heart'}
In red heart  of West Village- Entire Apt
{'❤': 'red heart'}
Save$! Sleep Well! red heart NYC! Female Only!!!
{'✨': 'sparkles'}
Cozy Home in Harlem sparkles
{'❤️': 'red heart'}
red heart  Beautiful/Spacious/Convenient BK Apartment!
{'❤️': 'red heart'}
red heart  POSH NYC RESORT - Midtown 45 - 2 Guests red heart
{'❤️': 'red heart'}
Cozy Room In Williamsburg Near Trainsred heart
{'☝': 'index pointing up'}
index pointing up  Your Sweet Suite Spot index pointing up
{'❤️': 'red heart', '✨': 'sparkles'}
✨Bright, spacious apartment in the West Villagered heart
sparkles Bright, spacious apartment in the West Village❤️
{'⭐': 'star'}
2 blocks to 2 star ️star ️star ️star ️star ️
{'❤': 'red heart'}
red heart ART of Chelsea | 1bd rm | Walk/bike everywhere!
{'❤️': 'red heart'}
red heart red heart red heart  COZY Place by the Park for ONE red heart red heart red heart
{'❤️': 'red heart'}
5m walk to L, Great Location red heart  Priv. Bath/Balcony
{'❤️': 'red heart'}
The red heart  of SoHo: Adorable 2 br // event space
{'❤': 'red heart'}
red heart  of Manhattan | Fantastic 1 Bedroom
{'❤': 'red heart'}
red heart  of Manhattan | Fantastic 1 Bedroom
{'❤': 'red heart'}
red heart  of Manhattan | Fantastic 1 Bedroom
{'❤': 'red heart'}
red heart  of Manhattan | Central Park | Fantastic 1 Bed
{'☀️': 'sun'}
sun Private, cozy & quiet room in Inwood Manhattansun
{'❤️': 'red heart'}
Quiet Studio in the red heart of Hells Kitchen for 1 person
{'❤': 'red heart'}
Private room in a peaceful home red heart
{'❤️': 'red heart'}
Heart of Queens 1 red heart / Jackson Heights/Elmhurst
{'⭐': 'star'}
star ️Walk + Transit Score 97star ️8min to Yankee Stdstar ️
{'⭐': 'star'}
Inspiring & Motivational star ️
{'❤️': 'red heart'}
Cozy and GREAT Stay in the West Village heart red heart
{'❤️': 'red heart'}
Welcoming home in the red heart  of NYC!
{'⭐': 'star'}
Grdn 2BD Sleeps 7 Pvt. Bath Near trainstar Mins to NYC
{'❤️': 'red heart'}
I red heart NY
{'❤️': 'red heart'}
Charming room in the heart red heart  of Williamsburg!
{'❤️': 'red heart'}
Comfy private room in the heart red heart  of Williamsburg!
{'❤️': 'red heart'}
Heart Of Queens 2red heart red heart / Jackson Heights/ Elmhurst
{'❤️': 'red heart'}
Dungeon heaven. SOHO loft-feel in Bklyn.red heart red heart red heart red heart red heart
{'❤️': 'red heart'}
red heart Private Suite w Balcony red heart 25 Mins to NYC
{'☺': 'smiling face'}
Bright & Beautiful Brooklyn Boudoir and more! smiling face
{'❤️': 'red heart'}
Large and in charge: pvt "dungeon" apt. red heart red heart red heart red heart red heart
{'❤️': 'red heart'}
Entire PVT 3BR townhouse apt, Brooklyn.red heart red heart red heart red heart red heart
{'❤️': 'red heart'}
Light-Filled Top Floor of 4BR Townhouse.red heart red heart red heart red heart red heart
{'❤️': 'red heart'}
EXTRAVAGANT RESORT In the red heart  of Midtown 45 Resort
{'⭐': 'star', '❤️': 'red heart'}
❤️Quiet room w/PRIVATE BATHROOM near Manhattan!star ️
red heart Quiet room w/PRIVATE BATHROOM near Manhattan!⭐️
{'☺': 'smiling face'}
smiling face Kinda feels JUST LIKE HOME! smiling face  [BEST RATE]
{'❤️': 'red heart'}
Superhost*Sunny/Private room in 2BR red heart Williamsburg
{'❤️': 'red heart'}
Charming 1 bed in red heart  of Greenwich Village.
{'♥': 'heart suit'}
Spacious & Bright apt in Soho (Top 1% heart suit  NYC pick)
{'❤️': 'red heart'}
ALL new modern apartment of 2 bedroom NYC style!red heart
{'❤': 'red heart'}
Stunning Room, Perfect Location, Premium Bed red heart
{'❤': 'red heart'}
Private Quiet Room in the BEST Location!! red heart
{'❤️': 'red heart'}
Heart of Queens 3 red heart red heart red heart Private Bath-Jackson Hgts
{'❤': 'red heart'}
3 Minutes to Central Park red heart ︎ of NYC!
{'❤️': 'red heart'}
Sunny Williamsburg Style in Prime Location red heart
{'❤️': 'red heart'}
red heart  Furnished One Bedroom with Terrace!! ★★★★★
{'☀': 'sun'}

sun  Beautiful & Quiet sun TIMES SQUARE sun  2 BDR Apt sun
{'❤️': 'red heart'}
Bright cozy home close to Penn Station NYCred heart
{'♥': 'heart suit'}
heart suit Private Master Bath | Express Train+Free Parking☆
{'♥': 'heart suit'}
heart suit Private Home Express Subway Station+Free Parking☆
{'⭐': 'star'}
star ︎star ︎PRIVATE Bathroomstar ︎star ︎2min to subway+huge living
{'✔': 'check mark'}
check mark  Home Away From Home check mark  100Mbps check mark  Transit Score 99
{'❤️': 'red heart'}
Renovated 1 BDR Apt~ Heart of Midtown Manhattan red heart
{'✴': 'eight-pointed star'}
eight-pointed star SPACIOUS HOMEYeight-pointed star  2 BD Sleeps 6! Brooklyn NY
{'❤': 'red heart'}
red heart  Bushwick / Room with SmartTV & Private bathroom
{'❤': 'red heart'}
red heart  NYC/Bushwick New Private Room Size Queen red heart
{'❤️': 'red heart'}
Cozy Parkside Studio in the red heart  of the East Village
{'♥': 'heart suit'}
Cozy (☆) Room In Upper Manhattan  (heart suit )
{'✈': 'airplane'}
airplane  NYC/Travelers. New Private Access Room Bed Full
{'♥': 'heart suit'}
heart suit heart suit heart suit  Entire House with Backyard & Superfast WiFiheart suit heart suit heart suit
{'✨': 'sparkles'}
sparkles Cozy clean room, 5 min walk to subway(Line R/M)
{'❤️': 'red heart'}
red heart  Beautiful, Bright Room - Late Self Check-In  red heart
{'❤️': 'red heart'}
red heart  A Warm Place to Stay. A Clean & Sunny RM
{'♦': 'diamond suit'}
3 Level Loftdiamond suit diamond suit diamond suit Private Terrace W/views diamond suit diamond suit diamond suit Flatiron
{'▶': 'play button'}
NewlyBuilt+Terrace 3minplay button ︎Subway 30min Manhattan
{'❤️': 'red heart'}
red heart Private Suite for Friends Getaway Close to NYC
{'⭐': 'star'}
star star star Sleeps 10! Rare 4 Bedroom Apt Close to NYC
{'☀️': 'sun'}
Sunny room in Manhattan sun
{'⚓': 'anchor', '❤️': 'red heart'}
❤️❤️NEW 2 level home 15min to the Beach anchor  BOOK NOW
red heart red heart NEW 2 level home 15min to the Beach ⚓ BOOK NOW
{'⭐': 'star'}
star 3 BR Sleep 8 A+ Location by Shops + Subway to NYC
{'✴': 'eight-pointed star'}
HUGE 3 BDR Apt & 2 Baths eight-pointed star EAST VILLAGEeight-pointed star
{'❤️': 'red heart'}
red heart  Private Studio+Bath+Balcony, 15 mins to City
{'❤️': 'red heart'}
red heart  2 Beds Option@Bushwick, 15 mins to Manhattan
{'❤️': 'red heart'}
red heart   Welcome to the Chelsea Charmerred heart
{'⬆': 'up arrow', '☀️': 'sun'}
Bed room close to NYCup arrow ︎ with lots of sun light☀️
Bed room close to NYC⬆︎ with lots of sun lightsun
{'♥': 'heart suit'}
Exclusive heart suit   | Bed-Stuy Sanctuary
{'♥': 'heart suit'}
Solo heart suit  | Stuyvesant Sunshine
{'✨': 'sparkles'}
sparkles sparkles Union Square Duplex LOFT•••4 BEDSsparkles sparkles MUST SEE !!!!
{'♀': 'female sign'}
female sign  New Sunny Furnished Room near Express Subway
{'♀': 'female sign'}
female sign  New Large Sunny Room close to  Express Train
{'⚡': 'high voltage'}
high voltage  3 APT in 1--Large groups Travel & stay togetherhigh voltage
{'♂': 'male sign', '♀': 'female sign'}
male sign  ♀ Large Sunny Bedroom Walk to Express Subway
♂ female sign  Large Sunny Bedroom Walk to Express Subway
{'♂': 'male sign', '♀': 'female sign'}
male sign  ♀ Large Room Close to Express Subway + Bus
♂ female sign  Large Room Close to Express Subway + Bus
{'♂': 'male sign', '♀': 'female sign'}
male sign  ♀ Sunny Bedroom in Popular Brooklyn
♂ female sign  Sunny Bedroom in Popular Brooklyn
{'♀': 'female sign'}
female sign  Female Only Large Sunny Shared Room Double bed
{'♀': 'female sign'}
female sign  Female Only Sunny Shared Room Double bed
{'♀': 'female sign'}
female sign  Female Only Single Bed in Sunny Room Popular
{'♀': 'female sign'}
female sign  Female only Shared Bedroom, Double Bed
{'♀': 'female sign'}
female sign  Large Sunny Room in Newly Renovated Apt Popular
{'♀': 'female sign'}
female sign  Sunny Bedroom in Great Apartment in Popular Bk
{'♥': 'heart suit'}
Natural Habitat | heart suit  SUPER HOST heart suit
{'⏩': 'fast-forward button', '⏪': 'fast reverse button'}
fast-forward button  It's Always Sunny At The Bleu Hauz ⏪
⏩ It's Always Sunny At The Bleu Hauz fast reverse button
{'❤️': 'red heart'}
Cozy and spacious room in the heart of NYCred heart
{'❤️': 'red heart'}
THE red heart   OF NYC AWAITS--ASK ABOUT MY SUMMER SALE
{'➡': 'right arrow'}
New Kitchen&Bath : 5min right arrow ︎ Subway 20min right arrow ︎ TimeSQ
{'➡': 'right arrow'}
30minright arrow ︎TimesSQ 3minright arrow ︎Subway New New New Building
{'➡': 'right arrow'}
30minright arrow ︎LGA  New&Clean Apt with Cozy Terrace Space
{'☯': 'yin yang'}
yin yang  Ur Cool & Cozy Chambers yin yang
{'⭐': 'star'}
star SPRING/SUMMER SALE- LARGE OUTDOOR PATIOstar
{'⭐': 'star'}
star $1.6 MILLION CHELSEA FLATstar LUXURY AND LOCATION!
{'☀️': 'sun'}
Sunny Williamsburg Loft sun
{'✨': 'sparkles'}
sparkles PRIVATE Bathroom - Midtown | 5 min Grand Centralsparkles
{'⭐': 'star'}
star ️ Luxury Studio with modern finishes star ️
{'✨': 'sparkles'}
Cozy sparkles LARGE BEDsparkles  In the heart of NYC!
{'♥': 'heart suit'}
heart suit Private-Keyed Room #3 - Desk, closet, & King-bedheart suit
{'❤️': 'red heart'}
Stay in the red heart of Manhattan!
{'✴': 'eight-pointed star'}
eight-pointed star NEWLY RENOVATEDeight-pointed star  2 BDR | SLEEPS 4 @ BROOKLYN
{'♥': 'heart suit'}
heart suit Private-Keyed Room #2 - Desk, closet, Queen-bedheart suit
{'♥': 'heart suit'}
heart suit Private-Keyed Room #1 - Desk, closet, Queen-bedheart suit
{'♥': 'heart suit'}
Sunny, Private Bedroom in heart suit  of Downtown (SOHO/LES)
{'⭐': 'star'}
star Sleeps 10 star  Rare 4 Bedroom star  30 Mins to NYC star
{'♥': 'heart suit'}
Private Room with Desk & Closet heart suit  Best Location
{'❤️': 'red heart'}
[NEWLY RENOVATED] -  SMACK DAB IN THE red heart  of NYC
{'❤️': 'red heart'}
red heart  SUPERCUTE BROOKLYN BEDROOM
{'❤️': 'red heart'}
CHARMING BEDROOMred heart HEART OF BROOKLYN
{'✨': 'sparkles'}
sparkles Unique space, private bath, close to subway!
{'♥': 'heart suit'}
RARE | Romantic Studio heart suit  West Village Landmark
{'©': 'copyright'}
Hang The World In Your Memorycopyright    (SLEEPS 1 to 5)
{'✴': 'eight-pointed star'}
eight-pointed star  COZY Astoria NYC eight-pointed star  1BDR & 1 BATH APT
{'✴': 'eight-pointed star'}
eight-pointed star  Brand New & Quiet eight-pointed star  East Village eight-pointed star  2BR Apt
{'♥': 'heart suit'}
SUNNY PRIVATE ROOM & BACKYARD in heart suit ︎ WILLIAMSBURG
{'❤': 'red heart'}
★ red heart  1 Sunny apartment for family and friends ★ red heart  ♛
{'❤': 'red heart'}
Modern elegant Studio in red heart  of West Village
{'❣': 'heart exclamation'}
☆ heart exclamation   Cozy 2 ideal location| private entrance ☆ heart exclamation
{'➖': 'minus'}
minus PRIVATE ROOFTOP minus  LUXURY LIVING IN NEW YORK CITY!
{'✨': 'sparkles'}
sparkles Modern NYC bedroom ￨5 minutes to Empire Statesparkles
{'✌': 'victory hand'}
Nice and cozy victory hand  holiday apartment✿
{'❤️': 'red heart'}
Best Value red heart Memorable Vacation
{'❤️': 'red heart'}
red heart A Private Studio On Roof, Private bath + Deck
{'❤️': 'red heart'}
Family Place inred heart of Manhattan
{'❤': 'red heart'}
red heart red heart red heart  Luxe 3bdrm + Parking 10 mins to Manhattan
{'❤': 'red heart'}
★★Cute flat in red heart  of Manhattan★★
{'❤️': 'red heart'}
Gorgeous Apt close to red heart Times Squarered heart
{'❤': 'red heart'}
Superb apartment inred heart of Manhattan★
{'♥': 'heart suit'}
Evergreen Modern | heart suit  Lovely Room for 2 heart suit
{'⚡': 'high voltage', '⭐': 'star'}
high voltage Stylish Apt in Trendy Location!! ⭐
⚡Stylish Apt in Trendy Location!! star
{'⭐': 'star'}
star  Oversized 4BR Loft In Prime Location!
{'⚾': 'baseball'}
Steps to Yankee Stadium baseball  Minutes to Times Square
{'☕': 'hot beverage', '✨': 'sparkles'}
hot beverage Perfect 2-bdr close to Times Square ✨
☕Perfect 2-bdr close to Times Square sparkles
{'☀': 'sun'}
sun SOHOsun  Sunny & Spacious ➽ Sleeps 3 ⊹
{'⭐': 'star'}
Spacious Studio star in the heart of NYC
{'❤️': 'red heart'}
Trendy 3Bd City Apartment next to the Park! red heart
{'❤️': 'red heart'}
red heart $7 MILLION TOWNHOME--MINUTES TO TIMES SQUAREred heart
{'⭐': 'star'}

Cozy Studio star  Premium Location in the Village!
{'⌚': 'watch', '❤️': 'red heart'}
Beautiful place in❤️of Manhattan watch Times Square
Beautiful place inred heart of Manhattan ⌚Times Square
{'⚡': 'high voltage'}
high voltage Quiet Home in Center of Village
{'❤': 'red heart'}
Best Value red heart  Memorable Vacation in NYC
{'☯': 'yin yang', '❤️': 'red heart'}
Manhattan yin yang  Brooklyn | Best of Both❤️
Manhattan ☯ Brooklyn | Best of Bothred heart
{'☀': 'sun'}
sun Bright & sunny townhouse | Perfect for families sun
{'♥': 'heart suit'}
Steps to Times Square Modern Apt heart suit
{'⚓': 'anchor'}
Best place to stay anchor anchor anchor  with friends
{'✌': 'victory hand'}
Cool palce victory hand victory hand victory hand  for 2 people
{'⚡': 'high voltage', '✈': 'airplane', '☕': 'hot beverage'}
☕ ✈Fantastic Room high voltage high voltage  ✈
☕ airplane Fantastic Room ⚡⚡ airplane
hot beverage  ✈Fantastic Room ⚡⚡ ✈
{'✌': 'victory hand'}
Amazing West Village victory hand  Location is ♕NYC
{'❤️': 'red heart'}
Best Memories  in red heart  NYC
{'❤️': 'red heart'}
Perfect apartments for living inred heart Manhattan
{'✨': 'sparkles'}
sparkles Superb Room- 2 Queen Beds sparkles
{'♥': 'heart suit'}
RARE | Entire 2-bed apt heart suit  0 min to M/L train
{'✨': 'sparkles'}
sparkles Superb Room- 2 Queen Beds and Balcony  sparkles
{'♥': 'heart suit'}
Manhattan heart suit  2BR apartment
{'♥': 'heart suit'}
heart suit ~Cutest apartment in the East Village~heart suit
{'✨': 'sparkles'}
sparkles Executive Room One King Bed and Kitchenettesparkles
{'✨': 'sparkles'}
sparkles Marvelous Room One Queen and One Full Bedsparkles
{'✨': 'sparkles'}
sparkles Spacious bedroom￨walkable to UN, Empire Statesparkles
{'❤️': 'red heart'}
red heart Ever best located cozy flatred heart
{'⚓': 'anchor'}
Great room in anchor NYCanchor
{'✨': 'sparkles'}
sparkles Marvelous Room One Queen,One Full Bed and Balcony
{'✨': 'sparkles'}
sparkles Superb King Room , City Viewsparkles
{'✨': 'sparkles'}
sparkles Superior King Room , Manhattan  Viewsparkles
{'✨': 'sparkles'}
sparkles Premier King Room , City Viewsparkles

In [18]:
### extract sentiments and punctuation information and add as features

def numPunctuation(string, punctuation = '!?*.,'):
    count = 0
    for char in punctuation:
        count += string.count(char)
    return count

def numCap(string):
    count = 0
    for char in string:
        if char.isupper():
            count += 1
    return count

def sentimentCounts(string, tokenizer):
    pos_words = 0
    neg_words = 0
    neutral_words = 0
    tokenized_sent = [word.lower() for word in tokenizer.tokenize(string)]
    for word in tokenized_sent:
        if word in opinion_lexicon.positive():
            pos_words += 1
        elif word in opinion_lexicon.negative():
            neg_words += 1
        else:
            neutral_words += 1
    return np.array([pos_words, neutral_words, neg_words])

In [66]:
from sklearn.linear_model import LinearRegression as lr

In [72]:
X = np.array([subset['positive'], subset['neutral'], subset['negative']]).transpose()
y = subset['number_of_reviews']

In [75]:
reg = lr().fit(X, y)

In [76]:
reg.score(X, y)

0.0018467690314233343

In [77]:
reg.predict(X)

array([33.5837877 , 33.9356608 , 33.4322844 , ..., 34.59054049,
       32.12252502, 35.39692347])

In [78]:
y

0          9
1         45
3        270
4          9
5         74
        ...
36328     54
36329      2
36330     58
36331      1
36332     16
Name: number_of_reviews, Length: 30510, dtype: int64

In [79]:
from sklearn.neural_network import MLPRegressor

In [82]:
reg_nn = MLPRegressor().fit(X, y)

In [83]:
reg_nn.score(X,y)

0.0031143325789001475

In [84]:
reg_nn.predict(X)

array([33.8494654 , 35.08574593, 33.25768899, ..., 35.68716102,
       33.59342871, 33.76681735])

In [85]:
y

0          9
1         45
3        270
4          9
5         74
        ...
36328     54
36329      2
36330     58
36331      1
36332     16
Name: number_of_reviews, Length: 30510, dtype: int64

In [98]:
airbnb[airbnb['host_id'] == 2787]

,id,name,positive,neutral,negative,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2.0,6.0,0.0,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
10372,7937553,Riomaggiore Room. Queen Bedroom in Bklyn Townh...,0.0,7.0,0.0,2787,John,Brooklyn,Bensonhurst,40.60951,-73.97622,Private room,99,1,21,2018-10-27,0.50,6,153
13583,10160215,Torre del Lago Room.,0.0,5.0,0.0,2787,John,Brooklyn,Gravesend,40.60755,-73.97410,Private room,79,1,17,2019-06-26,0.40,6,174
13688,10267242,Cinque Terre Room. Clean and Quiet Queen Bedroom,2.0,6.0,0.0,2787,John,Brooklyn,Gravesend,40.60810,-73.97541,Private room,149,1,24,2019-05-11,0.64,6,180
13963,10593675,"La Spezia room. Clean, quiet and comfortable bed",3.0,6.0,0.0,2787,John,Brooklyn,Bensonhurst,40.60951,-73.97642,Shared room,79,1,15,2018-09-29,0.43,6,180
21556,17263207,Brooklyn home. Comfort and clean. Liguria room.,1.0,7.0,0.0,2787,John,Brooklyn,Bensonhurst,40.60877,-73.97382,Private room,49,1,19,2019-06-08,0.70,6,360

In [19]:
pairs = []
for name in new_airbnb['name']:
    try:
        pairs.append(np.array([numCap(name), numPunctuation(name), len(name)]))
    except:
        pairs.append(np.array([0,0,0]))

In [20]:
caps = np.array(pairs).transpose()[0]
punc = np.array(pairs).transpose()[1]
lengths = np.array(pairs).transpose()[2]

In [21]:
caps

array([ 1,  3, 25, ...,  4,  3,  3])

In [22]:
punc

array([0, 0, 5, ..., 0, 1, 0])

In [23]:
lengths

array([34, 21, 35, ..., 39, 36, 49])

In [118]:
new_airbnb.insert(4, "Length", lengths)

In [37]:
airbnb.insert(2, "original_name", old_airbnb['name'])
airbnb

,id,name,original_name,positive,neutral,negative,punctuations,capitalizations,length,host_id,...,Decade1,Decade2,Decade3,Decade4,Decade5,Decade6,Decade7,Decade8,Decade9,Decade10
0,2539,Clean & quiet apt home by the park,Clean & quiet apt home by the park,2.0,6.0,0.0,0,1,34,2787,...,40s,90s,60s,90s,50s,70s,40s,40s,40s,50s
1,2595,Skylit Midtown Castle,Skylit Midtown Castle,0.0,3.0,0.0,0,3,21,2845,...,60s,80s,80s,70s,90s,70s,90s,80s,60s,60s
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,THE VILLAGE OF HARLEM....NEW YORK !,0.0,8.0,0.0,5,25,35,4632,...,40s,80s,70s,80s,90s,90s,100s,50s,50s,100s
3,3831,Cozy Entire Floor of Brownstone,Cozy Entire Floor of Brownstone,1.0,4.0,0.0,0,4,31,4869,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5022,Entire Apt: Spacious Studio/Loft by central park,Entire Apt: Spacious Studio/Loft by central park,1.0,7.0,0.0,0,5,48,7192,...,50s,80s,60s,50s,60s,50s,60s,90s,80s,80s
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,Charming one bedroom - newly renovated rowhouse,1.0,6.0,0.0,0,1,47,8232441,...,60s,60s,80s,90s,90s,70s,60s,90s,90s,50s
48891,36485057,Affordable room in Bushwick/East Williamsburg,Affordable room in Bushwick/East Williamsburg,1.0,4.0,0.0,0,4,45,6570630,...,70s,70s,90s,80s,80s,90s,80s,80s,60s,70s
48892,36485431,Sunny Studio at Historical Neighborhood,Sunny Studio at Historical Neighborhood,0.0,5.0,0.0,0,4,39,23492952,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48893,36485609,43rd St. Time Square-cozy single bed,43rd St. Time Square-cozy single bed,0.0,6.0,0.0,1,3,36,30985759,...,90s,90s,90s,90s,90s,90s,80s,100s,90s,90s
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,Trendy duplex in the very heart of Hell's Kitchen,1.0,8.0,1.0,0,3,49,68119814,...,50s,40s,50s,50s,50s,50s,50s,50s,40s,50s

In [29]:
leng

,id,name,negative,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,...,Decade1,Decade2,Decade3,Decade4,Decade5,Decade6,Decade7,Decade8,Decade9,Decade10
0,2539,Clean & quiet apt home by the park,0.0,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,...,40s,90s,60s,90s,50s,70s,40s,40s,40s,50s
1,2595,Skylit Midtown Castle,0.0,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,...,60s,80s,80s,70s,90s,70s,90s,80s,60s,60s
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,0.0,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,...,40s,80s,70s,80s,90s,90s,100s,50s,50s,100s
3,3831,Cozy Entire Floor of Brownstone,0.0,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5022,Entire Apt: Spacious Studio/Loft by central park,0.0,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,...,50s,80s,60s,50s,60s,50s,60s,90s,80s,80s
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,0.0,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,...,60s,60s,80s,90s,90s,70s,60s,90s,90s,50s
48891,36485057,Affordable room in Bushwick/East Williamsburg,0.0,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,...,70s,70s,90s,80s,80s,90s,80s,80s,60s,70s
48892,36485431,Sunny Studio at Historical Neighborhood,0.0,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
48893,36485609,43rd St. Time Square-cozy single bed,0.0,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,...,90s,90s,90s,90s,90s,90s,80s,100s,90s,90s
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,1.0,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,...,50s,40s,50s,50s,50s,50s,50s,50s,40s,50s

In [36]:
old_airbnb['name']

0                       Clean & quiet apt home by the park
1                                    Skylit Midtown Castle
2                      THE VILLAGE OF HARLEM....NEW YORK !
3                          Cozy Entire Floor of Brownstone
4         Entire Apt: Spacious Studio/Loft by central park
                               ...
48890      Charming one bedroom - newly renovated rowhouse
48891        Affordable room in Bushwick/East Williamsburg
48892              Sunny Studio at Historical Neighborhood
48893                 43rd St. Time Square-cozy single bed
48894    Trendy duplex in the very heart of Hell's Kitchen
Name: name, Length: 48895, dtype: object

In [38]:
pd.DataFrame.to_csv(airbnb, "Airbnb_NYC_2019.csv")